<h1>New Bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<br>

<%= link_to "Back to List", list_path(@list), class: "btn btn-primary" %>
